.wrapper
{
    background:#E8E8E8;
	padding: 10px;
	width: 600px;       
	margin-left: auto;  
	margin-right: auto; 
}

h1
{
    text-align: center;
    background:#a0beac;
	padding: 5px;       
}

ul
{
    text-align: center;
	padding: 0px; 
}

li
{
    display: inline-block;
}

.game
{
    width: 800 px;
    background: rgb(111, 107, 133);
	text-align: center;  
	margin-left: auto;   
	margin-right: auto;  
}

.block
{
    display: inline-block;
    background: rgb(20, 107, 220);
    width: 90px;
    height: 90px;
    border:4px solid rgb(68, 58, 58);
	text-align: center;  
	margin:5px;          
	font-size: 80px;     
}